

.outline1 {

    width: 1280px;
    height: 342px;
    left: 10%;
    margin-top: 4rem;
   
    background: linear-gradient(180deg, #222327 0%, #16171B 100%);
    border: 5px solid transparent; /* set a transparent border */
    border-image: linear-gradient(180deg, #EB9514 0%, #1F87E7 100%) 1; /* set a border image with a linear-gradient */
    border-radius: 14px;
  }
  .title{
   
height: 54px;
padding: 1rem;

margin-left: 2rem;
font-family: 'Lato';


font-size: 20px;
line-height: 24px;
display: flex;
align-items: center;


color: #FFFFFF;
  }
.randompageinput{

   
    background: linear-gradient(180deg, #222327 0%, #16171B 100%);
    margin-left: 2rem;
    color: #FFFFFF;
 font-size: 15px;
 
    width: 276px;
    height: 43px;
   
  }
  .randompageinput2{
    





    background: linear-gradient(180deg, #222327 0%, #16171B 100%);
    margin-left: 2rem;
    color: #FFFFFF;
 font-size: 15px;
 
    width: 276px;
    height: 43px;
   
  }

  .RandomlyChosenKata{
    font-family: 'Lato';

    font-weight: 400;
 color: #FFFFFF;
    
  }
  .nn {
    width: 40rem;
margin-bottom: 20rem;
    margin-left: 25rem;
    color: #FFFFFF;

  }
  .nnn{
    width: 10rem;
  }
  .Randomly1{
    font-size: 2rem;
  }
  .Randomly1{
    font-size: 1rem;
  }